[% WRAPPER page/section title='Introduction' %]
<p>
  The Template Toolkit is free in both senses of the word:
  <i>free beer</i> and <i>free speech</i>.
  It is <i>free</i> in the first sense because it costs 
  absolutely nothing to download and use the Template Toolkit.
  And it's <i>free</i> in the second sense because it's
  distributed under an 
  <a href="http://opensource.org" class="ext" title="Open Source: the way forward">Open Source</a> license.
  That mean that you get the full source code to the Template
  Toolkit <i>and</i> you're explicitly granted the right 
  to modify and adapt the code, should you so wish.
</p>
[% END %]

[% WRAPPER page/section title='Pre-Requisites' %]
<p>

  You'll need to have Perl version 5.6.0 or later installed on your machine.
  Perl comes pre-installed on all modern Unix-based systems (which includes
  Mac OSX). It's <a href="http://cpan.org/ports/index.html" title="Perl
  Ports">freely available</a> for virtually every modern operating system
  under the sun, so you have no excuse for not installing it if you don't
  already have it. Don't be scared now.  You don't have to write any Perl 
  code to use the Template Toolkit.
</p>

<p>
  The Template Toolkit also depends on the Perl 
  <a href="http://search.cpan.org/search?query=AppConfig" class="ext">AppConfig</a>
  module being installed.  But if you use the <a href="#cpan">CPAN module</a> as
  described below then it will take care of this for you.
</p>
[% END %]

[% WRAPPER page/section id='source' title='Installing from Source Code' -%]
    <p>
      Stable versions of the Template Toolkit source code can be downloaded from
      <a href="http://cpan.org/" class="ext" title="The Comprehensive Perl Archive Network, for all your Perl software needs!">CPAN</a>.
      The latest stable version of the Template Toolkit is [% tt2.version.stable %].
    </p>

    <a href="http://cpan.org/modules/by-module/Template/Template-Toolkit-[% tt2.version.stable %].tar.gz"
      class="download" title="Download the latest stable version ([% tt2.version.stable %]) of the Template Toolkit">Download 
      Template Toolkit stable version [% tt2.version.stable %]</a>
    <p>
      The source code is distributed as a <code>.tar.gz</code> archive.
      You'll need to unpack it and follow the instructions in the 
      <b>INSTALL</b> file.
    </p>

    <p>
      For those impatient types who don't have time to read the documentation,
      it goes like this:
    </p>

    <pre class="code">
      $ tar zxf Template-Toolkit-[% tt2.version.stable %].tar.gz
      $ cd Template-Toolkit-[% tt2.version.stable %]
      $ perl Makefile.PL
      $ make
      $ make test
      $ sudo make install
    </pre>
[%  END -%]

[% WRAPPER page/section id="developer" title="Developer Versions" %]
[% tt2vs = tt2.version.stable -%]
  <p>
    In addition to the stable releases available from CPAN, we also
    release interim developer versions from time to time.  These contain
    additional features, bug fixes and other updates over the latest
    stable version.
  </p>
  <p>
    Developer versions have an additional numerical 
    suffix (e.g. [% tt2vs %]_01, [% tt2vs %]_02, etc) and
    are available to download from this web site.  You can
    also download them from CPAN.  Note however that the CPAN
    module won't install developer releases by default.
  </p>
[% IF tt2.version.developer -%]
  <p>
    The current developer version is [% tt2.version.developer %]. 
  </p>
  <a href="[% site.url.download %]/Template-Toolkit-[% tt2.version.developer %].tar.gz"
     class="download" title="Download the latest developer version ([% tt2.version.developer %]) of the Template Toolkit">Download 
     Template Toolkit developer version [% tt2.version.developer %]</a>
[% ELSE -%]
  <p>
    There are no developer versions released at present.
  </p>
[% END -%]
[% END -%]



[%  WRAPPER page/section id='cpan' title='Installing with the CPAN Module' -%]
    <p>
      If you have the <a href="http://search.cpan.org/search?query=CPAN" class="ext" title="The CPAN module - for installing CPAN modules">CPAN module</a>
      installed then you can install the Template Toolkit like so:
    </p>

    <pre class="code">
      $ sudo cpan Template
    </pre>

    <p>
      The above assumes a Unix-like system (which includes Mac OSX) and uses
      <code>sudo</code> to run the <code>cpan Template</code> command with administrator privileges.
    </p>

    <p>
      The CPAN module is distributed with more recent versions of Perl (5.8 and
      later) so there's a good chance you've already got the CPAN module installed
      if your version of Perl is up-to-date.
    </p>
[%  END -%]

[%  WRAPPER page/section id='binaries' title='Platform-Specific Binaries' -%]
    <p>
      You can also get the Template Toolkit in "binary form" for 
      installation on various platforms.  Don't be misled by the name -
      you still get the full source code for the Template Toolkit, but
      it's delivered in a packaged format that you can install straight
      onto your system without having to build it from source.
    </p>

[%  WRAPPER page/subsection id='mac' title='Mac OSX' -%]
    <div class="mac osimg">
      <p>
        If you're running Mac OSX (you lucky thing!) then you can install the
        Template Toolkit using the <a href="#cpan">CPAN module</a> as
        described above. Run the <b>Terminal</b> application (located in
        Applications/Utilities) and enter the <code>sudo cpan Template</code>
        command at the prompt.
      </p>
      <p>
        Alternately, if you have 
        <a href="http://fink.sourceforge.net/" class="ext" title="Fink: an Open Source package manager for Mac OSX">Fink</a>
        installed then you can use it to install the Template Toolkit.
        Christian Schaffner maintains the Fink packages for the Template
        Toolkit. They can be found in the <code>libs/perlmods</code>. section.
      </p>
    </div>
[%  END -%]

[%  WRAPPER page/subsection id='debian' title='Debian GNU/Linux' -%]
[%    deb1 = 'http://packages.debian.org/unstable/perl/libtemplate-perl'
      deb2 = 'http://packages.debian.org/unstable/perl/libtemplate-perl-doc'
      deb3 = 'http://people.debian.org/~mako/outgoing/libtemplate-perl/'
-%]
    <div class="linux osimg">
      <p>
        Mako Hill maintains the official Template Toolkit packages for 
        <a href="http://debian.org/" class="ext" title="Debian: a free GNU/Linux operating system for your computer">Debian
        GNU/Linux</a>. They are available in Debian as <code>libtemplate-perl</code>. The
        Debian package pages for the latest versions can be found at:
      </p>
      <a href="[% deb1 %]" class="download">[% deb1 %]</a>
      <a href="[% deb2 %]" class="download">[% deb2 %]</a>
      <p>
        You can download the packages and the source for the latest TT2 packages
        at:
      </p>
      <a href="[% deb3 %]" class="download">[% deb3 %]</a>
      <p>
        If you use <code>stable</code> or <code>testing</code> and 
        want to use the latest Template Toolkit packages, then 
        simply add the following line to your <code>sources.list</code>
        file:
      </p>
      <pre class="code">deb http://people.debian.org/~mako/outgoing/ ./</pre>
      <p>
        Of course, you can also install the Template Toolkit on any Unix-like
        system using the <a href="#cpan">CPAN module</a>, as described above.
      </p>
    </div>
[%  END -%]

[%  WRAPPER page/subsection id='win32' title='Microsoft Windows' -%]
    <div class="windows osimg">
      <p>
        If you're using a Microsoft Windows machine then you 
        have our sympathies.  However, if you're using 
        <a href="http://strawberryperl.com/" class="ext" title="Strawberry Perl: Perl for Microsoft Windows">Strawberry Perl</a>
        then you can install TT using the <a href="#cpan">CPAN module</a> as
        described above.  If you're using 
        <a href="http://www.activestate.com/Products/ActivePerl/" class="ext" title="ActivePerl: Perl for Microsoft Windows">ActivePerl</a>
        and then use the Perl Package Manager (PPM) to install the Template Toolkit.
      </p>
      <p>
        Our friends over at <a href="http://www.bugzilla.org/" class="ext" title="Bugzilla: Open Source bug tracking software">Bugzilla</a>
        have put a page together telling you where you can find the relevant PPM files.
      </p>
      <a href="http://www.bugzilla.org/docs/2.18/html/modules-manual-download.html" class="download">Links to ActivePerl PPM packages</a>
[%    IF this_gets_unbroken -%]
      <p>
        Chris Winters maintains a repository of pre-compiled PPM packages including
        the Template Toolkit, AppConfig and others.  However, the link that we used
        to have on this page doesn't appear to exist any more.  Chris?
      </p>
[% u = 'http://openinteract.sourceforge.net/cgi-bin/twiki/view/OI/ActivePerlPackages' -%]
      <a href="[% u %]" class="download">[% u %]</a>
[%    END -%]
    </div>
[%  END -%]
[% END %]

[% WRAPPER page/section id='git' title='Github Source Code Repository' -%]
  <p>
    The source code for the Template Toolkit is managed using
    <a href="http://git-scm.com/" class="ext" title="Git: the fast version control system">Git</a>
    and is hosted at <a href="http://github.com/">Github</a>
    If you have git installed on your system then you can check out the 
    Template Toolkit source code using a command like this:
  </p>
  <pre class="code">
    $ git clone git://github.com/abw/Template2.git
  </pre>
  <p>
    You can browse the repository here:
  </p>
  <a href="[% site.url.github %]" class="download">[% site.url.github %]</a>
[% END %]

[% WRAPPER page/section id='html_docs' title='HTML Documentation' -%]
  <p>
    You can download a copy of the complete HTML documentation for the 
    Template Toolkit.  It comes in the same shiny colours as this web
    site for your viewing pleasure.
  </p>
  <p>
    <a href="TT_v[% tt2.version.docs.replace('\W', '', 1) %]_html_docs.tar.gz" class="download">HTML documentation for version [% tt2.version.docs %]</a>
  </p>
[% END %]

[% WRAPPER page/section id='related' title='Related Modules' -%]
  <p>
    In times gone by, the Template Toolkit was distributed with a whole
    bunch of plugin modules for doing all sorts of things.  These included:
    querying databases via the DBI module, processing XML documents,
    typesetting output using LaTeX, and generating images using the GD
    library.
  </p>
  <p>
    In a fit of common sense, they were eventually removed from the core 
    Template Toolkit distribution and made available as separate bundles.
    You can download them from CPAN using the following links or you can
    install them using the <a href="#cpan">CPAN module</a> as described above.
  </p>
  <a href="http://search.cpan.org/search?query=Template-DBI" class="download">Template-DBI</a>
  <a href="http://search.cpan.org/search?query=Template-GD" class="download">Template-GD</a>
  <a href="http://search.cpan.org/search?query=Template-XML" class="download">Template-XML</a>
  <a href="http://search.cpan.org/search?query=Template-Latex" class="download">Template-Latex</a>
  <p>
    These modules have corresponding projects in the old Subversion repository.
    You can check out the source code for any of the above projects like so:
  </p>
  <pre class="code">
    $ svn co svn://svn.tt2.org/tt/Template-DBI/trunk Template-DBI
  </pre>
[% END %]

[% WRAPPER page/section id='editors' title='Editor Bundles' -%]
<div class="textmate thumbnail">
  <h2>TextMate</h2>
  A bundle for <a href="http://macromates.com/" class="ext">TextMate</a> is available 
  <a href="http://wardley.org/downloads/Textmate-TT.tar.gz">here.</a>  It 
  includes syntax highlighting and a number of auto-completion snippets for 
  generating TT code fragments.  TextMate is really <i>very</i> good.  It's 
  worth buying a Mac for (not that you need an excuse of course).
</div>

<div class="emacs thumbnail">
  <h2>Emacs</h2>
  Dave Cross has written an <a href="http://www.gnu.org/software/emacs/" class="ext">Emacs</a>
  mode for TT, available <a href="http://dave.org.uk/emacs/" class="ext">here</a>.  It 
  performs syntax highlighting, although he warns it can be a bit flaky at times 
  (patches welcome).  <a href="http://ourcomments.org/Emacs/nXhtml/doc/nxhtml.html">nXhtml</a>
  is an addon to Emacs for editing XHTML, PHP and similar things.  It includes Dave's
  Emacs mode and uses it in the multi major modes.
</div>

<div class="kde thumbnail">
  <h2>Kate: KDE Advanced Text Editor</h2>
  Krassimir Berov has written a TT syntax highlighting extension for 
  <a href="http://kate-editor.org/" class="ext">Kate</a>.  It's available
  <a href="http://bcc.svn.sourceforge.net/viewvc/bcc/trunk/misc/" class="ext">here</a>.
</div>

<div class="jedit thumbnail">
  <h2>jEdit</h2>
  <a href="http://www.jedit.org/" class="ext">jEdit</a> has in-built support
  for highlighting TT syntax.
</div>

<div class="joe thumbnail">
  <h2>Joe</h2>
  Michael Holzt has written a TT syntax highlighting extension for the
  <a href="http://joe-editor.sourceforge.net/" class="ext">Joe editor</a>.  
  Download it from <a href="tt.jsf">here</a>.
</div>

<div class="komodo thumbnail">
  <h2>Komodo</h2>
  ActiveState's 
  <a href="http://www.activestate.com/Products/komodo_edit/" class="ext">Komodo Edit</a>
  and <a href="http://www.activestate.com/Products/komodo_ide/" class="ext">Komodo IDE</a>
  both have built-in support for TT.  
</div>

<div class="vim thumbnail">
  <h2>Vim</h2>
  Atsushi Moriki has written a syntax highlight file for 
  <a href="http://www.vim.org/" class="ext">Vim</a>.
  You can fetch it from 
  <a href="http://www.vim.org/scripts/script.php?script_id=830" class="ext">here</a>.
</div>
[% END %]

