<h2>As Used By...</h2>

<p class="intro">
  The Template Toolkit has been used to build more web sites that you
  can shake a stick at.  Here are just a few of our badger fans.
</p>

<div style="padding: 0 50px; text-align: center">
  &middot; <a href="http://bbc.co.uk/">BBC</a>
  &middot; <a href="http://www.itn.co.uk/">ITN</a>
  &middot; <a href="http://ticketmaster.com">Ticketmaster</a>
  &middot; <a href="http://www.p4c.philips.com/cgi-bin/dcbint/cpproduct_selector.pl">Philips</a>
  &middot; <a href="http://slashdot.org">Slashdot</a>
  &middot; <a href="http://slashcode.com">Slashcode</a>
  &middot; <a href="http://bugzilla.org">Bugzilla</a>
  &middot; <a href="http://catalyst.perl.org">Catalyst</a>
  &middot; <a href="http://daily.co.uk">Daily</a>
  &middot; <a href="http://contentity.co.uk">Contentity</a>
  &middot; <a href="http://wardray-premise.com">Wardray Premise</a>
  &middot; <a href="http://bensonkites.com">Benson Kites</a>
  &middot; <a href="http://wardley.org">wardley.org</a>
  &middot; <a href="http://www.yellowbot.com/">yellowbot.com</a>
  &middot; <a href="http://www.infogears.com/">infogears.com</a>
  &middot; <a href="http://sagebug.com">sagebug.com</a>
  &middot; <a href="http://johan.vromans.org/">vromans.org</a>
  &middot; <a href="http://www.squirrel.nl/">Squirrel Consultancy</a>
  &middot; <a href="http://www.perlpromo.nl/">perlpromo.nl</a>
  &middot; <a href="http://www.xploosion.nl/">xploosion.nl</a>
  &middot; <a href="http://mihai.bazon.net/">mihai.bazon.net</a>
  &middot; <a href="http://www.dynarch.com/">dynarch.com</a>
  &middot; <a href="http://www.averroes-foundation.org/">Averroes Foundation</a>
  &middot; <a href="http://people.seas.harvard.edu/~oliver/">Oliver Ruebenacker</a>
</div>
