[% page.notoc = 1 -%]
<div class="largebook">
  <a href="http://www.oreilly.com/catalog/perltt/" class="badger">The Badger Book</a>
  <p class="intro">
    <a href="http://www.oreilly.com/catalog/perltt/" class="ext">Perl Template Toolkit</a>, 
    or the <i>Badger Book</i>, as we like to call it, is a comprehensive guide
    to using and extending the Template Toolkit.  Here's some blurb from the back of
    the book:
 </p>
 <blockquote>
   <div class="left"></div>
   <div class="right"></div>
   <p>
     The biggest cause of unmaintainable web sites is mixing markup code such as 
     HTML and program code such as Perl.  The best way to separate them is to use 
     a templating system.  The easiest and most powerful templating system for 
     Perl is the Template Toolkit.  <i>Perl Template Toolkit</i> is an 
     introduction and reference to the Template Toolkit for programmers, web
     designers, and anyone else who has ever thought "there has to be a better
     way" while debugging a tangled web site.
   </p>
   <div class="attrib">-- Thus Spake Badger</div>
 </blockquote>
</div>

<p>
  You can read more about the book and browse through it on
  <a href="http://www.oreilly.com/catalog/perltt/" class="ext">O'Reilly's web site</a>.
  You can purchase it at all the usual online stores.  
</p>

