[% page.notoc = 1 -%]
[% TAGS star -%]
<h2 class="title">Hello [% world %]!</h2>
[* TAGS default -*]

<div class="smallbook">
  <a href="book.html" class="badger">The Badger Book</a>
  <p class="intro">
    The Template Toolkit is a fast, flexible and highly extensible template
    processing system. It is <a href="http://www.fsf.org/" class="ext">Free</a> 
    (in both senses: <i>free beer</i> and <i>free speech</i>), 
    <a href="http://opensource.org/" class="ext">Open Source</a> software and 
    runs on virtually every modern operating system known to man.
    It is mature, reliable and well documented, and is used to generate
    content for countless web sites ranging from the very small to the very
    large. 
  </p>

  <p>
    It is written in the <a href="http://perl.com/" class="ext">Perl</a> 
    programming language but you don't need to know
    any Perl to use it. In fact, it was specifically created to allow web 
    designers and developers to concentrate on generating web pages without
    getting bogged down in programming matters.  We call this a "Clear Separation
    of Concerns" and it makes the whole processes of building, updating and
    maintaining a web site or web application significantly easier.
  </p>
</div>

<p>
  This web site contains the complete documentation for the Template Toolkit.
  There's also an O'Reilly book on the subject, written by 
  <a href="http://wardley.org/" class="ext">Andy Wardley</a> (the author of the 
  Template Toolkit itself), Darren Chamberlain and 
  <a href="http://dave.org.uk/" class="ext">Dave Cross</a>.  It's officially
  entitled
  <a href="http://www.oreilly.com/catalog/perltt/" class="ext">Perl Template Toolkit</a> 
  but we call it the "Badger Book" for obvious reasons. 
</p>

<a href="about.html" class="download">Read more about the Template Toolkit</a>
<a href="download/index.html" class="download">Download the Template Toolkit - v2.21 now available!</a>
<a href="docs/index.html" class="download">Read the Template Toolkit documentation</a>
<a href="mail/index.html" class="download">Join the Template Toolkit mailing list</a>
<a href="book.html" class="download">Get the Badger Book</a>

<h3>Now Available In Python!</h3>

<p>
  We're please to announce that Sean McAfee has released the first beta
  version of the Python port of the Template Toolkit.
</p>

<a href="python/index.html" class="download">Python Template Toolkit</a>
