[% WRAPPER page/section title='Templates Mailing List' id='templates' %]
[% mailsub = "template-toolkit+subscribe@groups.io";
   websub  = "https://groups.io/g/template-toolkit"
-%]
<p>
  The <i>templates</i> mailing list exists for reporting information, asking
  questions, discussing development or any other topic relevant to the
  Template Toolkit.
</p>
<p>
  To subscribe, send an email to <a href="mailto:[% mailsub %]">[% mailsub %]</a>
</p>
<p>
  You can also use the web interface:
</p>
<a href="[% websub %]" class="download">[% websub %]</a>

[% END %]
