[% page.notoc = 1 -%]
<h2 class="title">Now With Added Python Goodness!</h2>

<p class="intro">
  We're pleased to announced that Sean McAfee has released the first beta
  version of the Python port of the Template Toolkit. 
</p>

<p>
  At present the code is only available from the subversion repository.  
  Please be aware that this is still in development and is intended for Python 
  hackers who don't mind getting their hands a little dirty.  We'll be packaging 
  it up into a more easily distributed form in due course.  Until then you can 
  fetch it like this:
</p>

<pre class="code">
  $ svn co svn://svn.tt2.org/Template-Python/trunk Template-Python
</pre>

<p>
  Then read the <code>README.python</code> file for further details.
  You can also browse the Subversion repository using the web front-end.
</p>

<a href="[% site.url.svnweb %]/Template-Python" class="download">[% site.url.svnweb %]/Template-Python</a>
